Workflow 2/Stock Analysis.json
{
  "name": "Stock Analysis",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "3a6732ff-a1e6-4988-bc9d-4c3fd506a54c",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1264,
        16
      ],
      "typeVersion": 1.2,
      "webhookId": "7be3fbed-415e-414f-8941-a5c3a07e0f5a",
      "credentials": {
        "telegramApi": {
          "id": null,
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "Hi, welcome to this daily financial news agent! Please enter a stock ticker symbol for which you want aggregated news on.",
        "additionalFields": {}
      },
      "id": "a8f49d3d-6bb3-4636-9cf0-d2e121ff44b3",
      "name": "Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -1024,
        16
      ],
      "typeVersion": 1.2,
      "webhookId": "d0643c57-239c-47eb-9690-432c8183abfc",
      "credentials": {
        "telegramApi": {
          "id": null,
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "={{`https://finance.yahoo.com/quote/${$json[\"ticker\"]}/news/`}}",
        "options": {}
      },
      "id": "bee28192-f293-4cd9-966b-0fa23edac4c6",
      "name": "Validate Ticker (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -512,
        16
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f176e18-b431-4cbd-ad38-4ea10fff8ad3",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fe8d4fba-f96d-4876-934a-e28cb5eb4bd3",
      "name": "Check Valid Ticker",
      "type": "n8n-nodes-base.if",
      "position": [
        -272,
        16
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "The ticker symbol you entered is invalid. Please try again.",
        "additionalFields": {}
      },
      "id": "999b8238-ae93-4d91-b7bf-52176be792f4",
      "name": "Invalid Ticker Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -1024,
        272
      ],
      "typeVersion": 1.2,
      "webhookId": "d504dd02-6fb2-4808-97de-9c55ee8a5ce7",
      "credentials": {
        "telegramApi": {
          "id": null,
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "import json\nwith open('/data/news_with_sentiment.json') as f1, open('/data/quant.json') as f2:\n  news = json.load(f1)\n  quant = json.load(f2)\n\ncombined = {\"news\": news, \"quant\": quant}\nwith open('/data/aggregate.json','w') as f:\n  json.dump(combined, f, indent=2)\n\nreturn {\"file\":\"/data/aggregate.json\"}"
      },
      "id": "3e4338e0-fff1-400f-9657-0c80eb41bcc3",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.function",
      "position": [
        416,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://finance.yahoo.com/markets/stocks/most-active/?start=0&count=9",
        "options": {}
      },
      "id": "e27cc8f0-9501-4a37-b4c3-5be3135fc74a",
      "name": "Scrape Most Active",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -672,
        656
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "b9fc3aad-7a86-4e7a-80f8-ccddcded7288",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        384
      ],
      "id": "f36ab034-d10b-476d-b53c-1546b4e5884a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        928,
        400
      ],
      "id": "7760bc61-c796-4cd9-861f-f1bf32402f12",
      "name": "Send a text message in Telegram",
      "webhookId": "ff491c98-b0e5-46d0-b058-543c02e71a10"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        480
      ],
      "id": "f0c3e1f8-7ee2-4da0-a55b-f992d9fbc445",
      "name": "Insert rows in a table"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "5bd950d1-5e76-4317-818e-4bf58e465296",
      "name": "NLP analysis"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        176
      ],
      "id": "c079f00b-24c3-4a83-a686-5bb0ef01dd1a",
      "name": "Quant analysis yfinance"
    },
    {
      "parameters": {
        "functionCode": "import json\nwith open('/data/news_with_sentiment.json') as f1, open('/data/quant.json') as f2:\n  news = json.load(f1)\n  quant = json.load(f2)\n\ncombined = {\"news\": news, \"quant\": quant}\nwith open('/data/aggregate.json','w') as f:\n  json.dump(combined, f, indent=2)\n\nreturn {\"file\":\"/data/aggregate.json\"}"
      },
      "id": "1d2c9544-aada-458c-ae37-b773f560099e",
      "name": "Aggregate Results1",
      "type": "n8n-nodes-base.function",
      "position": [
        96,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        512
      ],
      "id": "05c6755e-dc5f-44b1-942a-5209cb6df2da",
      "name": "Scraping code routine"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        512
      ],
      "id": "d7d42dab-7f3f-4668-8556-22fcb0c6b97c",
      "name": "NLP analysis routine"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        768
      ],
      "id": "ac65425c-4674-4b8f-a988-9d8f1c4a57b1",
      "name": "Quant analysis yfinance routine"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        656
      ],
      "id": "2ab5b723-fcd4-4b7f-90e3-875199e64613",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Extract ticker symbol from Telegram message\nconst message = $json.message.text.trim().toUpperCase();\nconst chatId = $json.message.chat.id;\nconst userId = $json.message.from.id;\n\n// Regex: 1–5 uppercase letters, e.g., AAPL, TSLA, MSFT\nconst tickerRegex = /^[A-Z]{1,5}$/;\n\nif (!tickerRegex.test(message)) {\n  return [{\n    json: {\n      error: true,\n      message: \"❌ Please provide a valid ticker symbol (1–5 letters, e.g., AAPL, TSLA, MSFT).\",\n      chat_id: chatId\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ticker: message,\n    chat_id: chatId,\n    user_id: userId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        16
      ],
      "id": "33096272-ae30-4304-9828-55ca6851a5d6",
      "name": "Extract ticker symbol"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        1120
      ],
      "id": "cf8e2a1c-e6af-4f35-be4c-72aa0d9692f8",
      "name": "WhatsApp Trigger",
      "webhookId": "1acf6de4-cc0d-4902-a8f6-b1cf93c761d7",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "png6NnlBDrlVdGEw",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "a59639bf-820e-4fe6-875e-d733667dd04c",
      "name": "RSS Feed article retrieval"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        160
      ],
      "id": "7d32f7c6-125a-4793-a431-9d4508292656",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-09-2025",
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.4,
          "topK": 32,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        208
      ],
      "id": "4b3b4b3e-c634-43e7-be36-afc1aa0bd271",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IN0LVAUBQJhVOyLX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -960,
        1120
      ],
      "id": "9322985a-a168-4139-ba9b-80bac715ecfb",
      "name": "AI Agent Ticker extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-09-2025",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -960,
        1392
      ],
      "id": "35399842-5070-4481-a4f7-94be2b3b2989",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "IN0LVAUBQJhVOyLX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        1120
      ],
      "id": "557e600a-ca99-427a-9863-b379bd1c265c",
      "name": "Info Extraction + NLP + storage"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        1120
      ],
      "id": "e45131fe-8d49-455d-913d-e469d58380b3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        1504
      ],
      "id": "11e59219-8c0a-4690-af2f-3ae9a964e6eb",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-09-2025",
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.4,
          "topK": 32,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        1328
      ],
      "id": "2dfbda3a-785d-4c89-b497-7ebb40f6443a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "IN0LVAUBQJhVOyLX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "input",
        "textBody": "input",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        160,
        1120
      ],
      "id": "f0359c0f-515e-4865-9359-e1f3a3d7b753",
      "name": "Send message",
      "webhookId": "675ef77b-1771-4f99-9096-edc2d055d800",
      "credentials": {
        "whatsAppApi": {
          "id": "GDW0yvut0KtheU6c",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Message": {
      "main": [
        [
          {
            "node": "Extract ticker symbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Ticker (HTTP)": {
      "main": [
        [
          {
            "node": "Check Valid Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid Ticker": {
      "main": [
        [
          {
            "node": "RSS Feed article retrieval",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quant analysis yfinance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Ticker Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Most Active": {
      "main": [
        [
          {
            "node": "Scraping code routine",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quant analysis yfinance routine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quant analysis yfinance": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NLP analysis": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Ticker Message": {
      "main": [
        [
          {
            "node": "Extract ticker symbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraping code routine": {
      "main": [
        [
          {
            "node": "NLP analysis routine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NLP analysis routine": {
      "main": [
        [
          {
            "node": "Aggregate Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quant analysis yfinance routine": {
      "main": [
        [
          {
            "node": "Aggregate Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scrape Most Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ticker symbol": {
      "main": [
        [
          {
            "node": "Validate Ticker (HTTP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent Ticker extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed article retrieval": {
      "main": [
        [
          {
            "node": "NLP analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Ticker extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Ticker extractor": {
      "main": [
        [
          {
            "node": "Info Extraction + NLP + storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Info Extraction + NLP + storage": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5e97e38-75a6-42e1-ae7b-292ceba241dc",
  "meta": {
    "instanceId": "6f4c0ab5a0a60dc572d23576dd5369c5ef2f43800923d7f38e424c927c19ccd4"
  },
  "id": "CslweeyRag7iE9fq",
  "tags": []
}